$high-tide: 60em;

$clr_greyback: #f0f0f0;
$clr_greydark: #666;
$clr_lighttext: #737373;
$clr_greenaccent: #00833F;

$sidebar_size: 38em;
$general_padding: 3.5em;
$spacing_p: 0.5em;
$hero_spacing: 1.4em;