@import "mixins";
.app {
  .pubs {
    a {
      display: inline-block;
      width: 5em;
      height: 6em;
      background-size: 100% 100%;
      filter: none;
      -webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      -ms-filter: grayscale(100%);
      -o-filter: grayscale(100%);
      margin-right: ($spacing_p * 2);
      cursor: pointer;
      &:hover {
        -webkit-filter: none;
        -moz-filter: none;
        -ms-filter: none;
        -o-filter: none;
      }
      &.pubs--jsr {
        background-image: url(/dist/assets/jsref.jpg);
      }
      &.pubs--ajax {
        background-image: url(/dist/assets/eajax.jpg);
      }
      &.pubs--ajaxaudio {
        background-image: url(/dist/assets/eajaxaudio.jpg);
      }
    }
  }
  .sociallinks {
    margin-bottom: $spacing_p;
    a {
      display: inline-block;
      width: 2em;
      height: 2em;
      margin-right: ($spacing_p * 2);
      background-size: 100% 100%;
      &.sociallinks--li {
        background-image: url(/dist/assets/iconmonstr-linkedin-3.svg);
      }
      &.sociallinks--tw {
        background-image: url(/dist/assets/iconmonstr-email-10.svg);
      }
      &.sociallinks--gh {
        background-image: url(/dist/assets/iconmonstr-github-3.svg);
      }
      &.sociallinks--so {
        background-image: url(/dist/assets/iconmonstr-stackoverflow-3.svg);
      }
      &.sociallinks--em {
        background-image: url(/dist/assets/iconmonstr-email-10.svg);
      }
    }
  }
  .main {
    .main--content {
      p {
        margin-bottom: ($general_padding / 2);
      }
    }
  }
}

@media (min-width:$high-tide) {
  .app {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    .hero {
      position: fixed;
      width: $sidebar_size;
      height: 100%;
      background-color: $clr_greyback;
      .hero--content {
        margin-top: ($general_padding * 1.5);
        margin-left: $general_padding;
        margin-right: $general_padding;
        hr {
          color: $clr_greenaccent;
          background-color: $clr_greenaccent;
          height: 0.25em;
          width: 15em;
          border: 0;
          align: left;
        }
        h1 {
          font-size: 2em;
          font-weight: bold;
          margin-bottom: ($spacing_p / 2);
        }
        h2 {
          font-size: 1.2em;
          color: $clr_greydark;
          padding-bottom: $spacing_p;
        }
      }
    }
    .main {
      padding-left: $sidebar_size;
      .main--content {
        padding: $general_padding;
        .alexeiavatar {
          width: 4.7em;
          height: 5em;
          background-size: 100% 100%;
          display: block;
          background-image: url(/dist/assets/alexeiwhite.svg);
        }
        p {
          line-height: 1.3em;
          color: $clr_greydark;
        }
      }
    }
  }
}