@import "mixins";
@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400');
.app {
  font-family: $san_serif_font;
  .pubs {
    a {
      display: inline-block;
      width: 5em;
      height: 6.5em;
      background-size: 100% 100%;
      filter: none;
      -webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      -ms-filter: grayscale(100%);
      -o-filter: grayscale(100%);
      margin-right: $hero_spacing;
      cursor: pointer;
      &:hover {
        -webkit-filter: none;
        -moz-filter: none;
        -ms-filter: none;
        -o-filter: none;
      }
      &.pubs--jsr {
        background-image: url(/dist/assets/jsref.jpg);
      }
      &.pubs--ajax {
        background-image: url(/dist/assets/eajax.jpg);
      }
      &.pubs--ajaxaudio {
        background-image: url(/dist/assets/eajaxaudio.jpg);
      }
    }
  }
  .sociallinks {
    margin-bottom: $hero_spacing;
    a {
      display: inline-block;
      width: 2em;
      height: 2em;
      margin-right: $hero_spacing;
      background-size: 100% 100%;
      &.sociallinks--li {
        background-image: url(/dist/assets/iconmonstr-linkedin-3.svg);
      }
      &.sociallinks--tw {
        background-image: url(/dist/assets/iconmonstr-email-10.svg);
      }
      &.sociallinks--gh {
        background-image: url(/dist/assets/iconmonstr-github-3.svg);
      }
      &.sociallinks--so {
        background-image: url(/dist/assets/iconmonstr-stackoverflow-3.svg);
      }
      &.sociallinks--em {
        background-image: url(/dist/assets/iconmonstr-email-10.svg);
      }
    }
  }
  .main {
    .main--content {
      p,
      div.p {
        margin-bottom: ($general_padding / 2);
      }
      .project--badge {
        display: inline-block;
        width: 50%;
        max-width: 20em;
        text-decoration: none;
        padding-right: 1em;
        padding-bottom: 1em;
        box-sizing: border-box;
        .project--badge-interior {
          border: 1px solid $clr_lightborder;
          border-radius: 4px;
          text-align: center;
          padding: 0.5em;
          &:hover {
            background-color: $clr_lightborder;
            .project--badge-tech {
              span {
                background-color: #fff;
              }
            }
          }
          .project--badge-name {
            color: $clr_greenaccent;
            font-weight: bold;
          }
          .project--badge-desc {
            color: $clr_greydark;
            font-family: $san_serif_font;
            font-size: 0.8em;
            line-height: 1.6em;
          }
          .project--badge-tech {
            margin-top: 0.2em;
            margin-bottom: 0.2em;
            span {
              font-family: $san_serif_font;
              color: $clr_greenaccent;
              background-color: $clr_lightborder;
              border-radius: 5px;
              padding: 0.2em;
              margin-right: 0.2em;
            }
          }
        }
      }
    }
  }
}

// Wide break point
@media (min-width:$high-tide) {
  .app {
    .hero--lowtide {
      display: none;
    }
    .short .hero {
      background-image: none;
    }
    .hero {
      position: fixed;
      width: $sidebar_size;
      height: 100%;
      background-color: $clr_greyback;
      background-image: url('/dist/assets/comps.svg');
      background-repeat: no-repeat;
      background-position: bottom center;
      background-size: 33em 10em;
      .hero--content {
        margin-top: ($general_padding * 1.5);
        margin-left: $general_padding;
        margin-right: $general_padding;
        .sociallinks {
          margin-top: $hero_spacing;
        }
        hr {
          color: $clr_greenaccent;
          background-color: $clr_greenaccent;
          height: 0.25em;
          width: 15em;
          border: 0;
          align: left;
        }
        h1 {
          font-size: 3em;
          font-weight: bold;
          margin-bottom: ($spacing_p / 2);
          font-family: $serif_font;
        }
        h2 {
          font-size: 1.2em;
          color: $clr_greydark;
          padding-bottom: $spacing_p;
        }
      }
    }
    .main {
      padding-left: $sidebar_size;
      .main--content {
        .short {
          display: none;
        }
        padding: $general_padding;
        .alexeiavatar {
          width: 4.7em;
          height: 5em;
          background-size: 100% 100%;
          display: block;
          background-image: url(/dist/assets/alexeiwhite.svg);
        }
        p,
        div.p {
          line-height: 1.5em;
          color: $clr_greydark;
          font-family: $serif_font;
          font-weight: 300;
          color: $clr_lighttext;
          position: relative;
          &.main--content-heading {
            color: #000;
            font-size: 1.4em;
            margin-bottom: 1.5em;
          }
          .arrow--p {
            background-image: url(/dist/assets/arrow.svg);
            display: block;
            width: 7em;
            height: 3em;
            background-size: 100% 100%;
            position: absolute;
            left: -7em;
            top: 0em;
          }
        }
      }
    }
  }
}

// Wide break point
@media (max-width:$high-tide) {
  .app {
    //padding: ($general_padding / 2);
    padding: $general_padding;
    .hero {
      display: none;
    }
    .hero--lowtide {
      .sociallinks {
        float: right;
        a {
          margin-right: 1em;
        }
      }
      .alexei--avatar {
        width: 2em;
        height: 2em;
        background-size: 100% 100%;
        display: block;
        background-image: url(/dist/assets/alexeiwhite.svg);
        background-color: $clr_lightborder;
        border-radius: 20px;
      }
      .pubs {
        margin-top: 2em;
        a {
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
    .hero--content {
      clear: both;
      text-align: center;
      h1 {
        font-size: 2.2em;
        padding-top: 2.5em;
        font-family: $serif_font;
      }
      h2 {
        padding-top: 0.5em;
        font-size: 1.2em;
        color: $clr_greenaccent;
      }
      .design--space {
        background-image: url('/dist/assets/comps.svg');
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: 33em 10em;
        height: 12em;
      }
    }
    .main {
      clear: both;
      .main--content {
        .project--badge {
          max-width: 999em !important;
        }
        p,
        div.p {
          line-height: 1.5em;
          color: $clr_greydark;
          font-family: $serif_font;
          font-weight: 300;
          color: $clr_lighttext;
          position: relative;
          &.main--content-heading {
            color: #000;
            font-size: 1.4em;
            margin-bottom: 1.5em;
          }
        }
        .wide {
          display: none;
        }
      }
    }
  }
}

// Wide break point
@media (max-width:420px) {
  .app {
    padding: ($general_padding / 2) !important;
    .design--space {
      display: none !important;
    }
    .hero--lowtide {
      text-align: center;
      .sociallinks {
        float: none;
        a {
          &:last-child {
            margin-right: 0;
          }
        }
      }
      .alexei--avatar {
        display: inline-block;
        width: 4em;
        height: 4em;
        margin-top: 1.5em;
      }
    }
    .hero--content {
      .pubs {
        a {
          margin-right: 0.5em !important;
        }
      }
    }
    .hero--content h1 {
      padding-top: 1em;
    }
    .main--content-heading {
      text-align: center;
    }
  }
}